.creativityTimeAnalysisContainer {
  /* width: 100%; */
  max-width: 1500px;
  margin: 0 auto;
  padding: 32px 32px 0px 32px;
}

.creativityTimeAnalysisContainer > * {
  max-width: 1500px;
  padding: 0 32px;
}

.creativityTimeAnalysisContainer h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.chartContainer {
  position: relative;
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #666;
}

.error {
  text-align: center;
  padding: 20px;
  color: #ff0000;
  font-size: 18px;
} 